@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin:0;padding:0}
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background: #5B2386;
      color: #fff;
      text-align: center;
    }

    header {
      padding: 60px 20px 20px;
    }

    header h1 {
      font-size: 2.8em;
      margin-bottom: 10px;
    }

    header p {
        font-family: 'OTEnjoystoriesBA';
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0;
        color:#F5DF4D;
        margin:52px 0 80px
    }

    section.description p {
        display:inline-block;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 30px;
      position: relative;
      font-weight:400;
    }
    section.description p::after{
        background:url("../img/left.png") no-repeat;
        content:"";
        display:block;
        position: absolute;
        left:-58px;
        width:36px;
        height:30px;
        top:36px
    }
    section.description p::before{
        background:url("../img/right.png") no-repeat;
        content:"";
        display:block;
        position: absolute;
        right:-58px;
        width:36px;
        height:30px;
        top:36px
    }
    section.description p b{
      font-weight:700;
      font-size:24px
    }
    section.textBox{
        position: relative;
        margin:120px 0 142px;
    }
    section.form-area {
        font-family: 'Gmarket Sans';
        color: #000;
        margin: 0 auto;
        padding: 100px 0 0;
        border-radius: 15px;
    }

    section.form-area form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .input-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      font-size:24px;
      color:#fff;
      margin-bottom:20px
    }
    .input-group br{display:none}

    input[type="text"] {
      margin:0 20px;
      padding: 10px;
      font-size: 1em;
      border-radius: 8px;
      border: 1px solid #ccc;
      box-sizing:border-box;
      width:228px;
      height:56px;
      color:#BABCBE;
    }
    p.btn{
        display:inline-block
    }
    .btn {
      border-radius:12px;
      border: none;
      padding: 20px 50px;
      font-weight: bold;
      font-size: 24px;
      color:#5B2386;
      margin: 20px 10px 0;
      cursor: pointer;
      font-family: 'Gmarket Sans';
    }
    .yellow{
      background: #FCEE21;

    }
    .icon{
        vertical-align: bottom;
        position: absolute;
        bottom: -14px;
    }
input::placeholder {
  text-align: center;
  color:#BABCBE
}
    section.result {
      margin-top: 50px;
    }
    .result p {
  font-size: 0; /* 글자 사이 간격 제거용 트릭 */
  text-align: center;
  line-height: 1.2;
}

.result p br {
  display: block;
  margin: 16px 0;
}

.result p strong {
    margin:0 12px;
  font-size: 72px;
  font-weight: bold;
  vertical-align: middle;
}

.result p {
  font-size: 24px; /* 다시 설정해서 small 글자 크기 적용 */
}

    section.result h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    footer {
      margin-top: 120px;
      font-size: 0.9em;
      color: #ddd;
      padding-bottom:100px
    }
    footer img{
      margin-bottom:20px
    }
    .popup{display:none;width:calc(100% - 40px);max-width:800px;height:100%;height:100%;max-height:816px;background:#fff;border-radius:20px;box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);box-sizing: border-box;padding:80px 146px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 1000;display: none;box-sizing: border-box;}
    .popup strong,.popup p{font-family:'OTEnjoystoriesBA';color:#5B2386}
    .popup strong{font-weight:700;font-size:96px}
    .popup p{font-weight:700;font-size:36px}
    .popup a{width:100%;max-width:508px;height:64px;line-height:64px;background:#FCEE21;color:#5B2386;font-family:'Gmarket Sans';font-size:24px;padding: 20px 0;border-radius:12px;font-weight:400;margin:60px auto 0;display:block;font-weight:bold;}
.line-break {
  display: none;
}
     @media (max-width: 768px) {
      .wrap{padding:40px 15px}
      header{padding:0 0 32px}
      header h1 {width:100%;max-width:278px;text-align:center;margin:0 auto}
      header h1 img{width:100%}
      header p{font-size:22px;margin:32px 0 0}

      section.description p{font-size:14px}
      .input-group{font-size:14px;margin-bottom:12px}
      .line-break {display: block;width: 100%;height: 0;margin-bottom:12px}
      input[type="text"]{width:150px;height:38px;margin:0 8px}
      p.btn{padding:20px 38px;width:100%;max-width:240px;margin:0;box-sizing:border-box;font-size:14px}
      .icon{width:43px}
      .result p{font-size:12px}
      .result p strong{font-size:24px}
      section.textBox{margin:68px 0 68px}
      footer {font-size:9px;margin-top:60px}
      footer img{width:125px}
      section.form-area{padding:30px 0 0}
      .btnWrap{margin-top:52px}
      .btnWrap .btn{font-size:14px;padding:16px 24px;margin:0}
      .btnWrap .btn:nth-child(1){margin-right:8px}
      section.description p::after{width:20px;height:18px;background-size:20px;left:-30px}
      section.description p::before{width:20px;height:18px;background-size:20px;right: -30px;}

      .popup strong{font-size:64px}
      .popup p{font-size:36px}
    }
    